<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Allison Xia">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id="logo" src="monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <nav>
            <a href="../index.html">Home</a>
            <a href="explore.html">Explore</a>
            <a id="navselected" href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
        <h1>Exhibition 1: Dreams in the Age of Androids</h1>
        <p>
            This exhibition explores how technology has influenced the everday person's dreams. This series of paintings
            displays the unconscious through surrealistic and dream-like colors.
        </p>
        <h1>Exhibition 2: Music as Soundwaves</h1>
        <p>
            Taking a scientific approach to the art of music, this exhibition demonstrates just how soundwaves are emitted from
            instruments and reach your ears.
        </p>
        <footer>2026 MonoMuse. All rights reserved.</footer>
    </header>
</body>
</html>
