<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Allison Xia">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <img id="logo" src="monomuselogo.png" alt="MonoMuse Museum Logo"> 
        <nav>
            <a href="../index.html">Home</a>
            <a id="navselected" href="explore.html">Explore</a>
            <a href="exhibitions.html">Exhibitions</a>
            <a href="tickets.html">Tickets</a>
            <a href="checkout.html">Checkout</a>
        </nav>
    </header>
    <img src="monomuse.png" alt="Image of the exterior of modern art museum called MonoMuse.">
    <h2>Mission Statement</h2>
    <p>
        MonoMuse believes that the relationship between science, art, and technology is 
        always evolving. Our mission is to highlight the diverse voices and perspectives
        that make up our constantly evolving society.
    </p>
    <h2>Who this Museum Serves</h2>
    <p>
        Innovators. Creators. Artists. Citizens. Adults. Families. Children. And anyone else interested in the intersection
        of arts and technology!
    </p>
    <h2>Founding Year</h2>
    <p>2015</p>
    <h2>Milestones</h2>
    <ul>
        <li>2026: Integration with Carnegie Mellon University.</li>
        <li>2023: Our founder graduates with a PhD.</li>
        <li>2019: The museum opens its west wing exhibits.</li>
    </ul>
    <footer>2026 MonoMuse. All rights reserved.</footer>
    
</body>
</html>
