<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Allison Xia">
    <meta name="keywords" content="Museum, Carnegie Mellon University, Information Systems">
    <meta name="description" content="MonoMuse website redesign project">
    <title>MonoMuse</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="../static/script.js" defer></script>

</head>
<body>
    <div class="container"> 
    <header class="header">
        <img id="logo" src="monomuselogo.png" alt="MonoMuse Museum Logo"> 
    </header>
    
    <button class="hamburger" onclick="toggleMenu()">☰</button>
    <nav class="nav_bar" id="mainNav">
        <a href="../index.html">Home</a>
        <a href="about.html">About</a>
        <a href="exhibitions.html">Exhibitions</a>
        <a href="buytickets.html">Tickets</a>
    </nav>
    <main class="main">

    <h2>Ticket Prices</h2>
    <table>
        <tr>
            <th>Ticket Type</th>
            <th>Description</th>
            <th>$Price$</th>
        </tr>
        <tr>
            <td>Adult</td>
            <td>General Admission for ages 18 and over. Under 18 free of charge.</td>
            <td>$18</td>
        </tr>
        <tr>
            <td>Student</td>
            <td>Student ID required</td>
            <td>$10</td>
        </tr>
        <tr>
            <td>Member</td>
            <td>Member ID required</td>
            <td>$15</td>
        </tr>
    </table>


    <h2>Available Dates</h2>
    <table>
        <tr>
            <th>Date</th>
            <th>Availability</th>
            <th></th>
        </tr>
        <tr>
            <td>March 31</td>
            <td>Available</td>
            <td><button class="cta" onclick="showPurchaseForm('March 31')">Buy Now</button></td>
        </tr>
        <tr>
            <td>April 14th</td>
            <td>Available</td>
            <td><button class="cta" onclick="showPurchaseForm('April 14')">Buy Now</button></td>
        </tr>
    </table>

    <form id="ticketForm">
        <h3 style="text-align: left;">Purchase Tickets</h3>

        <label for="selectedDate">Selected Date:</label><br>
        <input type="text" id="selectedDate" readonly><br><br>

        <label for="ticketType">Ticket Type (Required):</label><br>
        <select id="ticketType" required>
        <option value="">-- Select Type --</option>
        <option value="general">General Admission</option>
        <option value="student">Student</option>
        <option value="member">Member</option>
        </select><br><br>

        <label for="name">Name (Required): </label><br>
        <input type="text" id="name" name="name" required><br><br>

        <label for="email">Email (Required): </label><br>
        <input type="text" id="email" name="email" required><br><br>

        <label for="quantity">Ticket Quantity (Required): </label><br>
        <select id="quantity" name="quantity" required><br><br>
            <option value="">-- Select Quantity --</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
        </select><br><br>


        <label for="zip">Zip Code (Optional):</label><br>
        <input type="text" id="zip" placeholder="12345"><br><br>

        <label>
        <input type="checkbox" id="mailingList">
        Join our mailing list
        </label><br><br>

        

        <button type="submit" onclick="submitPurchase(event)">Submit</button>
    </form>
    <h2>Contact Us</h2>
    <p>
        <strong>Hours of Operation</strong>
        <br>
        Monday - Friday: 9am-6pm
        <br>
        Saturday - Sunday: 10am-8pm
        <br>
        <strong>Phone:</strong>
        713-123-4567
    </p>
    </main>
    <footer class="footer">
        Copyright© <span id="copyYear"></span> MonoMuse. All rights reserved.
    </footer>
    </div>
</body>
</html>

